* {
  box-sizing: border-box;
}

video {
  width: 100%;
  height: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #dbb5c9;
}

.info p {
  background-color: rgb(212, 139, 157);
  padding: 15px;
  text-align: left;
  line-height: 150%;
  font-size: 15px;
}

p {
  font-size: large;
  text-align: center;
  line-height: 150%;
}

/* Header */

.logo {
  background-color: rgb(212, 139, 157);
  color: #ffffff;
  padding: 50px;
}
/* Navigation */

.logo li {
  padding-left: 1em;
}

.logo li a {
  padding: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  color: black;
  text-decoration: unset;
}

.logo ul {
  display: flex;
  list-style-type: none;
  position: absolute;
  top: 75px;
  right: 10px;
} 

/* Information boxes with icons */

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: rgb(212, 139, 157);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
} 

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 

/* About Us */

section h2 {
  text-align: center;
}

/* Our Gurus */

.aside {
  background-color: rgb(212, 139, 157);
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

form {
  font-size: large;
}
/* Photo Grid */

.row2 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column2 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* footer */

#footer {
  background-color: rgb(212, 139, 157);
  padding: 25px;
  text-align: center;
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
}

i {
  color: #ffffff;
}

/* Media Queries */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 560px) {

header {
font-size: small;
}
} 


@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column2 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column2 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}




